.page-header
  %h3
    Monsters

%table.table.table-striped
  %thead
    %tr
      %th Rank
      %th Name
      %th Size
      %th Type
  %tbody
    - monsters.each do |monster|
      %tr
        %td= monster[:info][:rank]
        %td= link_to monster[:info][:name].humanize, monster_path(monster[:info][:name])
        %td= monster[:info][:size]
        %td= monster[:info][:type]
