.page-header
  %h4
    = I18n.t(monster[:info][:name], default: monster[:info][:name].humanize, locale: :ru)
    %span.text-muted.small
      = "(#{monster[:info][:size].humanize} #{monster[:info][:type].humanize})"
    = link_to 'Back', monsters_path, class: 'btn btn-secondary btn-sm'

.row
  .col-lg-6.col-md-7
    .row
      .col-sm-7
        .card
          .card-header
            Abilities
          .card-block
            .table-responsive
              %table.table.table-striped
                %tbody
                  - monster[:abilities].each do |code, points|
                    %tr
                      %td= I18n.t("Ability.#{code}", default: "#{code.titleize}")
                      %td= points
                      %td= points / 2 - 5
      .col-sm-5
        .card
          .card-header
            Info
          .card-block
            .table-responsive
              %table.table.table-striped
                %tbody
                  %tr
                    %td Rank:
                    %td= monster[:info][:rank]
                  %tr
                    %td= I18n.t 'hit_points', default: 'HP'
                    %td= max_hit_points(monster)
                  %tr
                    %td= I18n.t 'armor_class', default: 'AC'
                    %td= monster[:info][:armor_class]
                  - monster[:speed].each do |key, value|
                    %tr
                      %td= I18n.t(key, default: "#{key.titleize}", locale: :ru)
                      %td= "#{value} ft."
      - if monster[:legendary_actions].present?
        .col-sm-12
          .card
            .card-block
              - monster[:legendary_actions].each do |legendary|
                %p
                  %strong= legendary[:title]
                  = legendary[:effect].html_safe
                  %br
      -#- if monster[:lair_actions].present?
        .col-sm-12
          .card
            .card-block
              - monster[:lair_actions].each do |lair|
                = lair[:effect].html_safe
                %br

  .col-lg-6.col-md-5
    .card
      .card-header
        Description
      .card-block
        - if monster[:saving_trow].present?
          %strong Saving throws:
          - monster[:saving_trow].each do |code, value|
            = "#{I18n.t("Ability.#{code}", default: "#{code.titleize}")} +#{value};"
          %hr
        - if monster[:disciplines].present?
          %strong Disciplines:
          - monster[:disciplines].each do |code, value|
            = "#{I18n.t("Discipline.#{code}", default: "#{code.titleize}")} +#{value};"
          %hr
        - if monster[:vulnerability].present?
          %strong Damage vulnerability:
          - monster[:vulnerability].each do |key|
            = "#{I18n.t(key, default: "#{key.titleize}")};"
          %br
        - if monster[:damage_resistance].present?
          %strong Damage resistance:
          - monster[:damage_resistance].each do |key|
            = "#{I18n.t(key, default: "#{key.titleize}")};"
          %br
        - if monster[:damage_immunity].present?
          %strong Damage immunity:
          - monster[:damage_immunity].each do |key|
            = "#{I18n.t(key, default: "#{key.titleize}")};"
          %br
        - if monster[:condition_immunity].present?
          %strong Condition immunity:
          - monster[:condition_immunity].each do |key|
            = "#{I18n.t(key, default: "#{key.titleize}", locale: :ru)};"
          %hr
        %strong Sense:
        - monster[:sense].each do |key, value|
          = "#{I18n.t(key, default: "#{key.titleize}", locale: :ru)}: #{value};"
        %br
        - if monster[:language].present?
          %strong Languages:
          - monster[:language].each do |language|
            = "#{language};"
        %hr

        - if monster[:traits].present?
          - monster[:traits].each do |trait|
            %p
              %strong= trait[:title]
              = trait[:effect].html_safe
          %hr

        - monster[:actions].each do |action|
          %p
            %strong= action[:title]
            - if action[:effect].present?
              = action[:effect].html_safe
            - if action[:type].present?
              - action[:type].each do |type|
                = type.humanize
            - if action[:to_hit].present?
              Attack:
              = "+#{action[:to_hit]} to hit,"
              - if action[:reach].present?
                = "reach #{action[:reach]} ft.,"
              - if action[:range].present?
                = "range #{action[:range]} ft.,"
              - if action[:target].present?
                = action[:target]
              %em Hit:
              - action[:hit].each do |hit|
                - if hit[:damage]
                  = "#{hit[:damage]} (#{hit[:damage_dice]}) #{hit[:type]} damage;"
                - if hit[:effect]
                  %em= hit[:effect]
              - if action[:miss].present?
                %em Miss:
                - action[:miss].each do |miss|
                  - if miss[:damage]
                    = "#{miss[:damage]} (#{miss[:damage_dice]}) #{miss[:type]} damage"
                  - if miss[:effect]
                    %em= miss[:effect]
