= form_for [:admins, release_note], html: { class: "form form-horizontal release-note" } do |f|

  .form-group.row
    = f.label :title, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :title, class: 'form-control', required: true
      = f.error_span :title

  .form-group.row
    = f.label :content, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.cktext_area :content, class: 'form-control'
      = f.error_span :content

  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), root_path, class: 'btn btn-secondary'
