.page-header
  %h3 Release notes

- release_notes.each do |release_note|
  .card
    .card-header
      %strong= release_note.title
    .card-block
      %blockquote
        .card-text
          %p= release_note.content.html_safe
        %footer.blockquote-footer
          %cite
            = release_note.created_at.strftime('%d %B %Y at %H:%M')
          - if current_user.admin?
            %span.pull-right
              = link_to '', edit_admins_release_note_path(release_note), class: 'fa fa--warning fa-pencil-square-o'
              = link_to '', admins_release_note_path(release_note), method: :delete, remote: true, class: 'fa fa--danger fa-trash', data: { confirm: t('.confirm',
                                                                                                                                            default: t("helpers.links.confirm",
                                                                                                                                            default: 'Are you sure?')) }
