- model_class = ReleaseNote
.page-header
  %h1=t '.title', default: [:'helpers.titles.new', 'New %{model}'], model: model_class.model_name.human.titleize

= render 'form', release_note: new_release_note
