= form_for [:admins, trait], html: { class: "form form-horizontal trait" } do |f|

  .form-group.row
    = f.label :title, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, class: 'form-control', required: true
      = f.error_span :title

  .form-group.row
    = f.label :mastery, class: 'control-label col-lg-2'
    .col-lg-10
      .col-xs-4.col-sm-2{style: 'padding-left: 0'}
        = f.number_field :points, class: 'form-control', placeholder: 'points', required: true
        = f.error_span :points
      .col-xs-8.col-sm-10{style: 'padding-right: 0'}
        = f.select :mastery_id, options_for_select(masteries.map{ |r| [r.title, r.id] }, trait.mastery_id), { prompt: '- select -' }, { class: 'form-control', required: true }
        = f.error_span :mastery

  .form-group.row
    = f.label :condition, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :condition, class: 'form-control'
      = f.error_span :condition

  .form-group.row
    = f.label :description, class: 'control-label col-lg-2'
    .col-lg-10
      = f.cktext_area :description, class: 'form-control', required: true
      = f.error_span :description

  .form-group.row
    = f.label :proposed_by, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.select :proposer_id, options_for_select(users.map{ |r| ["#{r.name} (#{r.email})", r.id] }, trait.proposer_id), { prompt: '- select -' }, { class: 'form-control', required: true }
      = f.error_span :proposer_id

  .form-group.row
    = f.label :playable, class: 'control-label col-lg-2'
    .col-lg-10
      = f.check_box :playable, class: 'form-control'
      = f.error_span :playable

  .form-group.row
    = f.label :accepted, class: 'control-label col-lg-2'
    .col-lg-10
      = f.check_box :accepted, class: 'form-control'
      = f.error_span :accepted

  .form-group.row
    .offset-lg-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admins_traits_path, class: 'btn btn-secondary'
