- model_class = Trait
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_admins_trait_path, class: 'btn btn-primary btn-sm'

.col-md-12
  - if proposed_traits.any?
    .card
      %h4.card-header.collapsed{ 'aria-controls': 'collapse_proposed',
                                 'aria-expanded': 'false',
                                 'data-parent':   '.card',
                                 'data-toggle':   'collapse',
                                 href:            '#collapse_proposed',
                                 role:            'button' }
        Proposed traits
      .card-block.collapse{ id: 'collapse_proposed' }
        - proposed_traits.each do |trait|
          %blockquote
            %h5.card-title
              = "#{trait.title} (#{trait.mastery.title} #{trait.points}+)"
              = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_trait_path(trait), class: 'btn btn-secondary btn-sm'
              = link_to t('.destroy', default: t("helpers.links.destroy")),
                    admins_trait_path(trait),
                    method: :delete,
                    remote: true,
                    data: { confirm: t('.confirm',
                            default: t("helpers.links.confirm",
                            default: 'Are you sure?')) },
                    class: 'btn btn-sm btn-danger'
            .card-text
              -if trait.condition.presence
                %p
                  %b Condition:
                  = trait.condition
              %p
                = trait.description.html_safe
            .blockquote-footer
              proposed by
              %cite= trait.user_name
              on
              %cite= trait.created_at.strftime('%d %B %Y')
              %hr

  - traits.each do |mastery, trait|
    .card
      %h4.card-header.collapsed{ 'aria-controls': "collapse_#{mastery.code}",
                                 'aria-expanded': 'false',
                                 'data-parent':   '.card',
                                 'data-toggle':   'collapse',
                                 href:            "#collapse_#{mastery.code}",
                                 role:            'button' }
        = mastery.title
      .card-block.collapse{ id: "collapse_#{mastery.code}" }
        - trait.each do |trait|
          %blockquote
            %h5.card-title
              = "#{trait.title} (#{trait.mastery.title} #{trait.points}+)"
              = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_trait_path(trait), class: 'btn btn-secondary btn-sm'
              = link_to t('.destroy', default: t("helpers.links.destroy")),
                admins_trait_path(trait),
                method: :delete,
                remote: true,
                data: { confirm: t('.confirm',
                        default: t("helpers.links.confirm",
                        default: 'Are you sure?')) },
                class: 'btn btn-sm btn-danger'
              - unless trait.playable
                .small.text-muted
                  not playable
            .card-text
              -if trait.condition.presence
                %p
                  %b Condition:
                  = trait.condition
              %p
                = trait.description.html_safe
            .blockquote-footer
              last updated on
              %cite= trait.updated_at.strftime('%d %B %Y')
              %hr
