.page-header
  %h3 Add experience for party

= form_for :party, url: admins_party_experience_path(party), method: :patch do |f|

  .form-group.row
    = f.label :experience, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.number_field :experience, min: 0, class: 'form-control', placeholder: 'experience'
      = f.error_span :experience

  .form-group.row
    = f.label :downtime, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.number_field :downtime, min: 0, class: 'form-control', placeholder: 'downtime'
      = f.error_span :downtime

  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admins_party_path(party), class: 'btn btn-secondary'
