.row
  .col-md-4.offset-md-4
    .card
      .card-header
        %h4= t('.sign_up', default: "Sign up")
      .card-block
        = form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: "form form-horizontal" } do |f|
          = devise_error_messages!
          .form-group
            = f.text_field :name, required: true, autofocus: true, class: 'form-control', placeholder: 'Name'
          .form-group
            = f.email_field :email, required: true, class: 'form-control', placeholder: 'Email'
          .form-group
            = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
          .form-group
            = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Confirm password'
          .form-group
            = f.submit 'Sign up with email', class: 'btn btn-success'
