- if @search_entities
  .page-header
    %h3= "Результаты по запросу '#{params[:query]}'"
  - @search_entities.each do |entity|
    %h5= "#{entity.title} (#{entity.class.name})"
    - if entity.class.name == 'Race'
      - entity.archetype.traits.each do |trait|
        %b= trait.title
        %br
        = trait.description.html_safe
    - else
      %p= entity.description.html_safe
    %hr
