- model_class = Rule
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to 'Propose', new_rule_path, class: 'btn btn-secondary btn-sm'

.col-md-12
  - if current_user && proposed_rules.any?
    .card
      %h4.card-header.collapsed{ 'aria-controls': 'collapse_proposed',
                                 'aria-expanded': 'false',
                                 'data-parent':   '.card',
                                 'data-toggle':   'collapse',
                                 href:            '#collapse_proposed',
                                 role:            'button' }
        Proposed rules
      .card-block.collapse{ id: 'collapse_proposed' }
        - proposed_rules.each do |rule|
          %blockquote
            %h5.card-title{id: anchor_link(rule.title)}
              = rule.title
            .card-text
              %p= rule.description.html_safe
            .blockquote-footer
              last updated on
              %cite= rule.created_at.strftime('%d %B %Y')
              %hr

  - rules.each do |group, rule|
    .card
      %h4.card-header.collapsed{ 'aria-controls': "collapse_#{group.tr(' ','_').underscore}",
                                 'aria-expanded': 'false',
                                 'data-parent':   '.card',
                                 'data-toggle':   'collapse',
                                 href:            "#collapse_#{group.tr(' ','_').underscore}",
                                 role:            'button' }
        = group
      .card-block.collapse{ id: "collapse_#{group.tr(' ','_').underscore}" }
        - rule.each do |rule|
          %blockquote
            %h5.card-title{id: anchor_link(rule.title)}
              = rule.title
            .card-text
              %p= rule.description.html_safe
            .blockquote-footer
              last updated on
              %cite= rule.updated_at.strftime('%d %B %Y')
              %hr
