- model_class = Rule
.page-header
  %h1=t '.title', default: [:'helpers.titles.new', 'New %{model}'], model: model_class.model_name.human.titleize

= form_for new_rule, html: { class: "form form-horizontal rule" } do |f|

  .form-group.row
    = f.label :title, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :title, class: 'form-control', required: true
      = f.error_span :title

  .form-group.row
    = f.label :group, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :group, class: 'form-control', required: true
      = f.error_span :group

  .form-group.row
    = f.label :description, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.cktext_area :description, class: 'form-control', required: true
      = f.error_span :description

  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), rules_path, class: 'btn btn-secondary'
