= archetype.description.html_safe

- archetype.ability_points.where.not(points: 0).each do |ability|
  %b= ability.title
  = ability.points
  %br
%hr
- archetype.discipline_points.where.not(points: 0).each do |discipline|
  %b= discipline.title
  = discipline.points
  %br
%hr
- archetype.traits.each do |trait|
  %b= trait.title
  %br
  = trait.description.html_safe
%hr
- archetype.spells.each do |spell|
  %b= spell.title
  %br
  = spell.description.html_safe
