.page-header
  %h3
    Add background for
    = character.name

= form_for new_character_archetype, html: { class: "form form-horizontal character-archetype" } do |f|

  .form-group.row
    = f.label :background, class: 'control-label col-lg-2'
    .col-lg-10
      = f.select :archetype_id, options_for_select(archetypes.map{ |t| [t.info.humanize, t.id] }, new_character_archetype.archetype_id), { prompt: '- select -' }, { class: 'form-control', required: true }
      = f.error_span :background

  .form-group.row
    .offset-lg-2.col-lg-10
      = f.submit 'Confirm',class: 'btn btn-success btn-sm'
      = link_to t('.cancel', default: t("helpers.links.cancel")), polymorphic_path(current_user.admin? ? [:admins, character] : character), class: 'btn btn-secondary btn-sm'

  .form-group.row
    .offset-lg-2
      #archetype-description
