%td{ data: { "character-mastery-point": "#{ char_point.id }" }, style: 'max-width: 70px;' }
  = form_for char_point, remote: true, html: { class: "form form-horizontal character-point" } do |f|
    = f.number_field :points, step: 1, min: 0, class: 'form-control'
    = f.error_span :points
