// TODO: check and group
$("[data-character-mastery-point='<%= char_point.id %>']").replaceWith("<%=j render('admins/characters/mastery_point', p: char_point) %>");
$("[data-adventurer-ability-point='<%= char_point.id %>']").replaceWith("<%=j render('members/adventurers/ability_point', p: char_point) %>");
$("[data-adventurer-discipline-point='<%= char_point.id %>']").replaceWith("<%=j render('members/adventurers/discipline_point', p: char_point) %>");
$("[data-party-mastery-point='<%= char_point.id %>']").replaceWith("<%=j render('admins/parties/mastery_point', p: char_point) %>");
$("#stats-onedit").replaceWith("<%=j render('admins/characters/stats_onedit', character: char_point.character) %>");
$("#stats-current").replaceWith("<%=j render('admins/characters/stats_current', character: char_point.character) %>");
$('.weight').html('<%= "Weight: #{char_point.character.character_items.map(&:weight_summary).sum.to_f} / #{char_point.character.max_weight}" %>');
<%- if char_point.mastery.type == 'Discipline' %>
  $("#available .traits_list").replaceWith("<%=j render 'admins/characters/traits_list', character: char_point.character, traits: char_point.character.playable_traits %>");
<% end %>
