%br

.row
  .offset-xl-2.offset-lg-1.col-xl-8.col-lg-10
    .card
      .card-header
        Last adventurers
        = link_to 'Create new', new_adventurer_path, class: 'btn btn-sm btn-secondary'
      .card-block
        %table.table.table-striped
          %thead
            %tr
              %th Name
              %th Race
              %th Rank
              %th Experience
              %th Downtime
              %th Status
              %th{style: 'text-align: center;'}=t '.actions', default: t("helpers.actions")
          %tbody
            - adventurers.limit(3).each do |adventurer|
              %tr
                %td= link_to adventurer.name, adventurer_path(adventurer)
                %td= adventurer.race_title
                %td= adventurer.rank
                %td= adventurer.value_for('experience', :points)
                %td= adventurer.value_for('downtime', :points)
                %td= adventurer.playable ? 'Playable' : 'Unplayable'
                %td{style: 'text-align: center;'}
                  = link_to '', adventurer_path(adventurer),
                    method: :delete,
                    remote: true,
                    data: { confirm: t('.confirm',
                            default: t("helpers.links.confirm",
                            default: 'Are you sure?')) },
                    class: 'fa fa-trash fa--danger'
        - if  adventurers.count > 3
          %hr
          %span= link_to 'Show all', adventurers_path
