- model_class = BaseItem
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize

.col-md-12
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:title)
        %th= model_class.human_attribute_name(:effect)
        %th= model_class.human_attribute_name(:properties)
        %th= model_class.human_attribute_name(:kind)
        %th= model_class.human_attribute_name(:weight)
        %th= model_class.human_attribute_name(:price)
    %tbody
      - base_items.each do |item|
        %tr{id: anchor_link(item.title)}
          %td= item.title
          %td= item.effect
          %td= item.properties
          %td= item.kind
          %td= item.weight
          %td= item.price
