.page-header
  %h4
    = I18n.t(item.title, default: item.title.humanize)
    = link_to 'Back', :back, class: 'btn btn-secondary btn-sm'

.row
  .offset-md-5.col-md-2
    .card
      .card-header
        = item.title
      .card-block
        .small.text-muted= item.kind.humanize
        - if item.effect.present?
          %hr
          .small.text-muted Effect
          = item.effect
        - if item.properties.present?
          %hr
            .small.text-muted Properties
            = item.properties
      .card-footer
        .small.text-muted
          .row
            .col-xs-6
              %strong Weight
              %br
              = "#{item.weight} kg"
            .col-xs-6
              .pull-right
                %strong Base cost
                %br
                = "#{item.price} gp"
