$('#character_item_title').val("<%= @item.title %>");
$('#character_item_properties').val("<%= @item.properties %>");
$('#character_item_kind').val("<%= @item.kind %>");
$('#character_item_effect').val("<%= @item.effect %>");
$('#character_item_weight').val("<%= @item.weight %>");
$('#character_item_price').val("<%= @item.price %>");
$('#character_item_quantity').val("1");
