- model_class = Adventurer
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_admins_adventurer_path, class: 'btn btn-primary btn-sm'

%ul.nav.nav-tabs{role: 'tablist'}
  %li.nav-item
    %a.nav-link{'data-toggle': 'tab', href: '#npcs', role: 'tab'} NPCs
  %li.nav-item
    %a.nav-link.active{'data-toggle': 'tab', href: '#adventurers', role: 'tab'} Adventurers

.tab-content
  #npcs.tab-pane{role: 'tabpanel'}
    %table.table.table-striped
      %thead
        %tr
          %th= model_class.human_attribute_name(:name)
          %th= model_class.human_attribute_name(:race)
          %th= model_class.human_attribute_name(:rank)
          %th= model_class.human_attribute_name(:hp)
          %th= model_class.human_attribute_name(:sp)
          %th= model_class.human_attribute_name(:experience)
          %th= model_class.human_attribute_name(:downtime)
          %th= model_class.human_attribute_name(:status)
          %th=t '.actions', default: t("helpers.actions")
      %tbody
        - npcs.each do |npc|
          %tr
            %td= link_to npc.name, admins_adventurer_path(npc)
            %td= npc.race_title
            %td= npc.rank
            %td= npc.max_hit_points
            %td= npc.max_soul_points
            %td= npc.value_for('experience', :points)
            %td= npc.value_for('downtime', :points)
            %td= npc.playable ? 'Playable' : 'Unplayable'
            %td
              = link_to t('.destroy', default: t("helpers.links.destroy")), admins_adventurer_path(npc),
                method: :delete,
                remote: true,
                data: { confirm: t('.confirm',
                        default: t("helpers.links.confirm",
                        default: 'Are you sure?')) },
                class: 'btn btn-sm btn-danger'

  #adventurers.tab-pane.active{role: 'tabpanel'}
    %table.table.table-striped
      %thead
        %tr
          %th= model_class.human_attribute_name(:name)
          %th= model_class.human_attribute_name(:race)
          %th= model_class.human_attribute_name(:rank)
          %th= model_class.human_attribute_name(:hp)
          %th= model_class.human_attribute_name(:sp)
          %th= model_class.human_attribute_name(:experience)
          %th= model_class.human_attribute_name(:downtime)
          %th= model_class.human_attribute_name(:status)
          %th= model_class.human_attribute_name(:user)
          %th=t '.actions', default: t("helpers.actions")
      %tbody
        - adventurers.each do |adventurer|
          %tr
            %td= link_to adventurer.name, admins_adventurer_path(adventurer)
            %td= adventurer.race_title
            %td= adventurer.rank
            %td= adventurer.max_hit_points
            %td= adventurer.max_soul_points
            %td= adventurer.value_for('experience', :points)
            %td= adventurer.value_for('downtime', :points)
            %td= adventurer.playable ? 'Playable' : 'Unplayable'
            %td= adventurer.user_name
            %td
              = link_to t('.destroy', default: t("helpers.links.destroy")), admins_adventurer_path(adventurer),
                  method: :delete,
                  remote: true,
                  data: { confirm: t('.confirm',
                          default: t("helpers.links.confirm",
                          default: 'Are you sure?')) },
                  class: 'btn btn-sm btn-danger'
