- model_class = Adventurer
.page-header
  %h1=t '.title', default: [:'helpers.titles.new', 'New %{model}'], model: model_class.model_name.human.titleize

= form_for [:admins, new_adventurer], html: { class: "form form-horizontal adventurer" } do |f|

  .form-group.row
    = f.label :name, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :name, class: 'form-control', required: true
      = f.error_span :name

  .form-group.row
    = f.label :race, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.select :race_id, options_for_select(races.map{ |r| [r.title, r.id] }, new_adventurer.race_id), { prompt: '- select -' }, { class: 'form-control', required: true, id: 'character_race_id' }
      = f.error_span :race

  .form-group.row
    = f.label :user, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.select :user_id, options_for_select(users.map{ |r| ["#{r.name} (#{r.email})", r.id] }, new_adventurer.user_id), { prompt: '- select -' }, { class: 'form-control', required: true }
      = f.error_span :user

  .form-group.row
    .offset-md-2.col-md-10
      #race-description

  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admins_adventurers_path, class: 'btn btn-secondary'
