.page-header
  %h3
    Add new spell for
    = character.name

= form_for :spell_group do |f|
  .form-group.row
    = f.label :group, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.select :group, options_for_select(spells.map(&:group).uniq), { prompt: '- select -' }, class: 'form-control'

= form_for new_character_spell do |f|
  .form-group.row
    = f.label :spell, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.select :spell_id, options_for_select(spells.map{ |spell| [spell.title, spell.id]}), { prompt: '- select -' }, { class: 'form-control', required: true }
      = f.error_span :spell
  .form-group.row
    .offset-md-2.col-md-10
      = f.submit 'Add', class: 'btn btn-success btn-sm'
      = link_to t('.cancel', default: t("helpers.links.cancel")), polymorphic_path(current_user.admin? ? [:admins, character] : character), class: 'btn btn-secondary btn-sm'

  .form-group.row
    .offset-lg-2
      #spell-description
