.row
  .col-md-4.offset-md-4
    .card
      .card-header
        %h4= t('.forgot_your_password', default: 'Forgot your password?')
      .card-block
        = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form form-horizontal' } do |f|
          = devise_error_messages!
          .form-group
            = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
          .form-group
            = f.submit t('.send_me_reset_password_instructions', default: 'Send me reset password instructions'), class: 'btn btn-secondary btn-sm'
