= form_for [:admins, encounter], html: { class: "form form-horizontal encounter" } do |f|

  .form-group.row
    = f.label :title, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :title, class: 'form-control', placeholder: "can't be blank"
      = f.error_span :title

  .form-group.row
    = f.label :monsters, class: 'col-md-2 col-form-label'
    .col-md-10.monster_rows
      = link_to_add_monsters 'Add monster', f, 'monsters', 'App.Methods.Monsters.add_fields'

      -#= f.text_area :monsters, class: 'form-control', value: "[{name: '', count: }]", placeholder: "[{name: 'a', count: 1}, {name: 'b', count: 2}]"

      - encounter.monsters.each do |monster|
        .row.col-form-label
          .col-sm-2.col-xs-3
            = number_field_tag "#{f.object_name}[monsters][][count]", monster['count'], class: 'form-control', placeholder: 'count'
          .col-sm-9.col-xs-8
            = select_tag "#{f.object_name}[monsters][][name]", options_for_select(monsters.map{|m| m[:info][:name]}, monster['name']), prompt: '- select -', class: 'form-control'
          .col-xs-1
            = link_to_remove_monsters '', 'App.Methods.Monsters.remove_fields'

  %hr
  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admins_encounters_path, class: 'btn btn-secondary'
