.row.col-form-label
  .col-sm-2.col-xs-3
    = number_field_tag "#{f.object_name}[][count]", nil, class: 'form-control'
  .col-sm-9.col-xs-8
    = select_tag "#{f.object_name}[][name]", options_for_select(monsters.map{|m| m[:info][:name]}), prompt: '- select -', class: 'form-control'
  .col-xs-1
    = link_to_remove_monsters '', 'App.Methods.Monsters.remove_fields'
