- model_class = Encounter
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_admins_encounter_path, class: 'btn btn-primary btn-sm'

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Rank
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - encounters.each do |encounter|
      %tr
        %td= link_to encounter.title, admins_encounter_path(encounter)
        %td= encounter.rank
        %td
          = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_encounter_path(encounter), class: 'btn btn-secondary btn-sm'
          = link_to t('.destroy', default: t("helpers.links.destroy")),
            admins_encounter_path(encounter),
            method: :delete,
            class: 'btn btn-sm btn-danger',
            remote: true,
            data: { confirm: t('.confirm',
                    default: t("helpers.links.confirm",
                    default: 'Are you sure?')) }
