.page-header
  %h3
    = "#{encounter.title} (#{encounter.rank} rank)"
    = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_encounter_path(encounter), class: 'btn btn-secondary btn-sm'
    = link_to t('.back', default: t("helpers.links.back")), admins_encounters_path, class: 'btn btn-secondary btn-sm'

.row
  .col-sm-6
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Monster
            %th Rank
            %th AC
            %th HP
        %tbody
        - encounter.monsters.each do |monster|
          - monster['count'].to_i.times do
            %tr
              %td= link_to monster['name'].humanize, monster_path(monster['name'])
              %td= encounter.monster(monster['name'])[:info][:rank]
              %td= encounter.monster(monster['name'])[:info][:armor_class]
              -#%td= encounter.max_hit_points(monster)
              %td= encounter.monster(monster['name'])[:hit_points][:default]
  .col-sm-6
    .card
      .card-header
        Items
      .card-block
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br