- if user.active?
  = link_to 'Block', admins_user_block_path(user), method: :post, class: 'btn btn-sm btn-outline-danger block-btn', data: { confirm: "Do you want to block #{user.name}?" }, remote: true
- else
  = link_to 'Unblock', admins_user_block_path(user), method: :delete, class: 'btn btn-sm btn-outline-success unblock-btn', data: { confirm: "Do you want to unblock #{user.name}?" }, remote: true
