.card#edit
  .card-header
    Update
  .card-block
    = form_for [:admins, user], remote: true, html: { class: "form form-horizontal user" } do |f|
      .form-group
        = f.text_field :name, required: true, autofocus: true, class: 'form-control', placeholder: 'Name'
        = f.error_span :name
      .form-group
        = f.email_field :email, required: true, class: 'form-control', placeholder: 'Email'
        = f.error_span :email
      .form-group
        = f.fields_for :identity do |i|
          = i.text_field :chat_id, class: 'form-control', placeholder: 'Telegram chat_id'
          = i.error_span :chat_id
      .form-group
        Admin
        = f.check_box :admin
        %span.pull-right
          = render 'block_btn'
          = f.submit nil,class: 'btn btn-primary btn-sm'
