- model_class = User
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:admin)
      %th= model_class.human_attribute_name(:active)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - users.each do |user|
      %tr{ data: { model: { id: user.id } } }
        %td= user.name
        %td= link_to user.email, admins_user_path(user)
        %td= user.admin
        %td= user.active?
        %td
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
            admins_user_path(user),
            method: :delete,
            class: 'btn btn-sm btn-danger',
            remote: true,
            data: { :confirm => t('.confirm',
                    :default => t("helpers.links.confirm",
                    :default => 'Are you sure?')) }
