.page-header
  %h3
    = user.name
    = link_to 'Back', admins_users_path, class: 'btn btn-secondary btn-sm'

.row
  .col-md-3
    = render 'edit_card', user: user
    .card
      .card-header
        Identity
      .card-block
        .table-responsive
          %table.table.table-striped
            %tbody
              %tr
                %th Created
                %td= user.identity.created_at
              %tr
                %th Last sign in
                %td= user.identity.current_sign_in_at
              %tr
                %th Blocked at
                %td= user.identity.locked_at
