= form_for [:admins, race], html: { class: "form form-horizontal rule" } do |f|

  .form-group.row
    = f.label :code, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :code, class: 'form-control', required: true
      = f.error_span :code

  .form-group.row
    = f.label :playable, class: 'control-label col-lg-2'
    .col-lg-10
      = f.check_box :playable, class: 'form-control'
      = f.error_span :playable

  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admins_races_path, class: 'btn btn-secondary'
