- model_class = Race
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_admins_race_path, class: 'btn btn-primary btn-sm'
.col-md-12
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:title)
        %th= model_class.human_attribute_name(:archetype)
        %th= model_class.human_attribute_name(:adventurers)
        %th= model_class.human_attribute_name(:playable)
        %th=t '.actions', default: t("helpers.actions")
    %tbody
      - races.each do |race|
        %tr
          %td= link_to race.title, admins_race_path(race)
          %td= race.archetype_name
          %td= race.adventurers.count
          %td= race.playable
          %td
            = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_race_path(race), class: 'btn btn-secondary btn-sm'
            = link_to t('.destroy', default: t("helpers.links.destroy")),
                  admins_race_path(race),
                  method: :delete,
                  data: { confirm: t('.confirm',
                          default: t("helpers.links.confirm",
                          default: 'Are you sure?')) },
                  class: 'btn btn-sm btn-danger'
