.page-header
  %h3
    = race.title
    = link_to 'Edit', edit_admins_race_path(race), class: 'btn btn-secondary btn-sm'
    = link_to 'Edit archetype', admins_archetype_path(race.archetype), class: 'btn btn-secondary btn-sm'
    = link_to 'Back', admins_races_path, class: 'btn btn-secondary btn-sm'

- if race.archetype.present?
  .card
    .card-header
      Description
    .card-block
      = race.archetype.description.html_safe

  .card
    .card-header
      Abilities
    .card-block
      - race.ability_points.where.not(points: 0).each do |ability|
        %b= ability.title
        = ability.points
        %br

  .card
    .card-header
      Disciplines
    .card-block
      - race.discipline_points.where.not(points: 0).each do |discipline|
        %b= discipline.title
        = discipline.points
        %br

  .card
    .card-header
      Traits
    .card-block
      - race.traits.each do |trait|
        %b= trait.title
        %br
        = trait.description.html_safe
        %hr

  .card
    .card-header
      Spells
    .card-block
      - race.spells.each do |spell|
        %b= spell.title
        %br
        = spell.description.html_safe

  .card
    .card-header
      Items
    .card-block
      - race.character_items.each do |item|
        %b= item.title
        %br
        = item.description.html_safe
- else
  .card
    .card-block
      This race has no archetype
      = link_to t('.destroy', default: t("helpers.links.destroy")),
                admins_race_path(race),
                method: :delete,
                data: { confirm: t('.confirm',
                        default: t("helpers.links.confirm",
                        default: 'Are you sure?')) },
                class: 'btn btn-sm btn-danger'
