%br
.offset-xl-2.offset-lg-1.col-xl-8.col-lg-10
  - release_notes.each do |release_note|
    .card
      .card-header
        %h4= release_note.title
      .card-block
        %blockquote
          .card-text
            %p= release_note.content.html_safe
          %footer.blockquote-footer
            %cite
              = release_note.created_at.strftime('%d %B %Y at %H:%M')
