= form_for [:admins, support], html: { class: "form form-horizontal support" } do |f|
  .form-group.row
    = f.label :code, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :code, class: 'form-control', required: true
      = f.error_span :code
  .form-group.row
    = f.label :active, class: 'control-label col-lg-2'
    .col-lg-10
      = f.check_box :active, class: 'form-control'
      = f.error_span :active
  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admins_supports_path, class: 'btn btn-secondary'
