%tr{ data: { 'adventurer': "#{ adventurer.id }" } }
  %td= link_to adventurer.name, admins_adventurer_path(adventurer)
  %td= adventurer.rank
  - unless party.without_exp
    %td= adventurer.value_for('experience', :points)
  %td
    - if adventurer.dead
      = link_to 'DEAD!', admins_adventurer_path(adventurer, party: party), method: :delete,
                                                             remote: true,
                                                             class: 'btn btn-sm btn-danger',
                                                             data: { confirm: "Do you want to remove #{adventurer.name}?" }
    - else
      = "#{adventurer.hit_points} / #{adventurer.max_hit_points}"
  %td= adventurer.value_for 'armor_class', :points
  %td
    = form_for :damage, url: damage_path(adventurer), method: :patch, remote: true do |a|
      = a.number_field :value, min: 0, placeholder: 'Damage', style: 'background-color: #fddddd;'
  %td
    = form_for :heal, url: heal_path(adventurer), method: :patch, remote: true do |a|
      = a.number_field :value, min: 0, placeholder: 'Heal', style: 'background-color: #e5fddd;'
  %td
    %span.pull-right
      = link_to adventurer.hit_dice_with_count, heal_path(adventurer, use_hd: true), method: :patch, remote: true,
      class: "btn btn-success btn-sm #{adventurer.value_for('hit_dice', :points) > 0 ? '' : 'disabled'}"
