.input-group
  %span.input-group-addon
    = f.check_box :active
  = f.select :character_id, options_for_select(adventurers_list.map{ |a| ["#{a.name} (#{a.user_name})", a.id] }, f.object.character_id), { prompt: '- select -' }, { class: 'form-control' }
  %span.input-group-btn
    = link_to_remove_fields('remove', f, 'App.Methods.Party.remove_fields')
