= form_for [:admins, party], html: { class: "form form-horizontal party" } do |f|

  .form-group.row
    = f.label :title, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :title, class: 'form-control', placeholder: 'can be blank'
      = f.error_span :title

  .form-group.row
    = f.label :adventurers, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.fields_for :affiliations do |affiliation|
        .input-group
          %span.input-group-addon
            = affiliation.check_box :active
          = affiliation.select :character_id, options_for_select(party.characters.map{ |a| ["#{a.name} (#{a.user_name})", a.id] },
                                              affiliation.object.character_id),
                                              { prompt: '- select -' },
                                              { class: 'form-control' }
          %span.input-group-btn
            = link_to_remove_fields('remove', affiliation, 'App.Methods.Party.remove_fields')
        = affiliation.error_span :character_id
      = link_to_add_fields 'Add characters', f, :affiliations, 'App.Methods.Party.add_fields'

  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admins_parties_path, class: 'btn btn-secondary'
