%td{ style: 'width: 50px;', data: { "party-mastery-point": "#{ p.id }" } }
  = "#{p.points} (#{p.modifier})"
  -#= link_to '', char_point_experience_path(p), method: :patch, remote: true, class: 'fa fa-level-up fa--warning'
