- model_class = Party
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_admins_party_path, class: 'btn btn-primary btn-sm'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:adventurers)
      %th Rank
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - parties.each do |party|
      %tr
        %td= link_to party.title, admins_party_path(party)
        %td= party.characters.count
        %td= party.rank.to_i
        %td
          = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_party_path(party), class: 'btn btn-secondary btn-sm'
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
            admins_party_path(party),
            method: :delete,
            class: 'btn btn-sm btn-danger',
            remote: true,
            data: { :confirm => t('.confirm',
                    :default => t("helpers.links.confirm",
                    :default => 'Are you sure?')) }
