.page-header
  %h3
    = "#{party.title} (#{party.rank} rank)"
    = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_party_path(party), class: 'btn btn-secondary btn-sm'
    = link_to 'Rest', admins_party_rest_path(party), class: 'btn btn-success btn-sm', method: :patch, remote: true
    %span.pull-right= link_to 'Get experience', edit_admins_party_experience_path(party), class: 'btn btn-success btn-sm'

.row.small
  .col-md-6
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Adventurer
            %th Rank
            - unless party.without_exp
              %th Exp
            %th HP
            %th AC
            %th Damage
            %th Heal
            %th
              %span.pull-right Hit Dice
        %tbody
        - party_adventurers.each do |adventurer|
          = render 'adventurer_row', adventurer: adventurer, party: party

    .table-responsive.table-sm
      %table.table.table-striped
        %thead
          %tr
            %th{style: 'width: 50px'} Ability
            - party_adventurers.each do |adv|
              %th{style: 'max-width: 50px'}= adv.name
        - abilities.each do |mastery, char_point|
          %tr
            %td{ style: 'width: 50px;'}= mastery.title
            - char_point.each do |p|
              = render 'mastery_point', p: p

  .col-md-6
    .table-responsive.table-sm
      %table.table.table-striped
        %thead
          %tr
            %th{style: 'width: 50px'} Disciplines
            - party_adventurers.each do |adv|
              %th{style: 'max-width: 50px'}= adv.name
        %tbody
        - disciplines.each do |mastery, char_point|
          %tr
            %td{ style: 'width: 50px;'}= mastery.title
            - char_point.each do |p|
              = render 'mastery_point', p: p
