.charsheet {
  .info {
    page-break-after: always;
    page-break-inside: avoid;
  }

  .traits {
    page-break-after: always;

    blockquote {
      page-break-inside: avoid;
      border: none;
    }
  }

  .spells {
    page-break-after: always;

    blockquote {
      page-break-inside: avoid;
      border: none;
    }
  }

  .inventory {
    page-break-before: always;
  }
}
