.fa {
  cursor: pointer;

  &--micro { line-height: 17px; }

  &--small {
    font-size: 25px;
    line-height: 34px;
  }

  &--medium {
    font-size: 35px;
    line-height: 45px;
  }

  &--danger {
    color: $danger_color;

    &:hover,
    &:active,
    &:focus { color: darken($danger_color, 10%); }
  }

  &--warning {
    color: $warning_color;

    &:hover,
    &:active,
    &:focus { color: darken($warning_color, 10%); }
  }

  &--white {
    color: #fff;

    &:hover,
    &:active,
    &:focus { color: darken(#fff, 10%); }
  }

  &--light-gray {
    color: #cacaca;

    &:hover,
    &:active,
    &:focus { color: darken(#cacaca, 10%); }
  }

  &--success {
    color: $success_color;

    &:hover,
    &:active,
    &:focus { color: darken($success_color, 10%); }
  }

}
