.input-group-btn {
  input[type='submit'] {
    display: none;
  }
}

.autocomplete-dropdown-menu {
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      &:hover, &:focus {
        background-color: #dcdcdc;
      }
    }

    span {
      white-space: nowrap;
      float: right;
    }
  }
  width: 100%;
  max-width: 500px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.suggestion {
  display: block;
  padding: 3px 20px;
}

a.ui-state-active {
  background-color: #dcdcdc;
}

.ui-autocomplete-category {
  text-transform: uppercase;
  background-color: #f7f8fa;
  color: gray;
}

.ui-menu-item {
  a {
    display: inline-block;
    white-space: nowrap;
  }
}

.ui-helper-hidden-accessible { position: absolute; left: -999em; }
