%tr{ data: { "adventurer-ability-point": "#{ p.id }" } }
  %td= p.title
  %td
    = link_to '', char_point_decrement_path(p), method: :patch, remote: true, class: 'fa fa-minus-square-o fa--danger'
    = p.points
    = link_to '', char_point_increment_path(p), method: :patch, remote: true, class: 'fa fa-plus-square-o fa--success'
  %td= p.modifier
