%tr{ data: { "adventurer-discipline-point": "#{ p.id }" } }
  %td= p.title
  %td
    = link_to '', char_point_decrement_path(p), method: :patch, remote: true, class: 'fa fa-minus-square-o fa--danger' if current_user.admin?
    = p.points
    = link_to '', char_point_increment_path(p), method: :patch, remote: true, class: 'fa fa-plus-square-o fa--success' if current_user.admin?
  %td
    = p.experience
    - if current_user.admin? && p.character.has_experience?
      = link_to '', char_point_experience_path(p), method: :patch, remote: true, class: 'fa fa-level-up fa--warning'
  %td
    = p.modifier
