.charsheet
  .row.info
    .col-xs-6
      .card
        .card-block
          .table-responsive
            %table.table.table-striped.table-sm
              %thead
                %tr
                  %th= adventurer.user_name
                  %th= adventurer.name
              %tbody
                %tr
                  %td Rank
                  %td= adventurer.rank
                %tr
                  %td Health points
                  %td= "#{adventurer.max_hit_points} /"
                %tr
                  %td Soul points
                  %td= "#{adventurer.max_soul_points} /"
                %tr
                  %td Basic speed
                  %td= adventurer.value_for('speed', :points)
                %tr
                  %td Initiative bonus
                  %td= adventurer.initiative_bonus
                %tr
                  %td Armor Class
                  %td= adventurer.value_for('armor_class', :points)
                %tr
                  %td Attack
                  %td
                %tr
                  %td Sawing trow
                  %td
                %tr
                  %td Downtime
                  %td
                %tr
                  %td Experience
                  %td

    .col-xs-6
      .card
        .card-block
          .table-responsive
            %table.table.table-striped.table-sm
              %thead
                %tr
                  %th Ability
                  %th value
                  %th mod
              %tbody
                - adventurer.ability_points.each do |p|
                  %tr
                    %td= p.title
                    %td= p.points
                    %td= p.modifier
      .card
        .card-block
          .table-responsive
            %table.table.table-striped.table-sm
              %thead.small
                %tr
                  %th Discipline
                  %th val
                  %th exp
                  %th mod
              %tbody
                - adventurer.discipline_points.each do |p|
                  %tr
                    %td= p.title
                    %td= p.points
                    %td= p.experience
                    %td= p.modifier
  .traits
    .card
      .card-header
        %strong Traits
      .card-block.small
        - adventurer.traits.order(:created_at).each do |trait|
          %blockquote
            %strong.card-title
              = trait.title
              %span.pull-right.small.text-muted
                = trait.mastery_title
            .card-text.small
              - if trait.condition.presence
                %p
                  %b Condition:
                  = trait.condition
              %p
                = trait.description.html_safe
          %hr
  - if adventurer.spells.any?
    .spells
      .card
        .card-header
          %strong Spells
        .card-block.small
          - adventurer.spells.order(:created_at).each do |spell|
            %blockquote
              %strong.card-title
                = spell.title
                %span.pull-right.small.text-muted
                  = spell.group
              .card-text.small
                %p
                  = spell.description.html_safe
            %hr
  .inventory
    .card
      .card-header
        %strong Inventory
        %span.weight.pull-right
          = "Weight: #{adventurer.character_items.map(&:weight_summary).sum.to_f} / #{adventurer.max_weight}"
      .card-block.small
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Title
                %th Effect
                %th Properties
                %th Kind
                %th Weight
                %th Price
                %th Qty
            %tbody
              - adventurer.character_items.order(:created_at).each do |item|
                %tr.small
                  %td= item.title
                  %td= item.effect
                  %td= item.properties
                  %td= item.kind
                  %td= "#{item.weight} kg"
                  %td= "#{item.price} gc"
                  %td= item.quantity
