.page-header
  %h3
    = "#{adventurer.name} - #{adventurer.race_title} (#{adventurer.rank} rank)"
    = link_to 'Back', root_path, class: 'btn btn-secondary btn-sm'
    = link_to 'Add background', new_character_archetype_path(adventurer), class: 'btn btn-secondary btn-sm'
    = link_to 'Add spell', new_character_spell_path(adventurer), class: 'btn btn-secondary btn-sm'
    %span.pull-right
      = form_for adventurer do |f|
        = submit_tag 'Set playable', data: { disable_with: 'Please wait..' }, class: 'btn btn-sm btn-success'

.row
  .col-lg-6.col-md-7
    .row
      // abilities block
      .col-sm-8
        #abilities.card
          .card-header
            Abilities
            %span.small.text-muted
              (default: 15, 14, 13, 12, 10, 8)
          .card-block
            .table-responsive
              %table.table.table-striped
                %tbody
                - adventurer.ability_points.each do |p|
                  = render 'admins/characters/mastery_point', p: p
      // state block
      .col-sm-4
        = render 'admins/characters/stats_onedit', character: adventurer
        #bonuses.card
          .card-block
            .table-responsive
              %table.table.table-striped
                %tbody
                = render 'admins/characters/mastery_point', p: adventurer.mastery('initiative')
                = render 'admins/characters/mastery_point', p: adventurer.mastery('speed')
                = render 'admins/characters/mastery_point', p: adventurer.mastery('armor_class')

    #traits.card
      .card-header
        / Nav tabs
        %ul.nav.nav-tabs{role: 'tablist'}
          %li.nav-item
            %a.nav-link.active{'data-toggle': 'tab', href: '#taken', role: 'tab'} Taken traits
          %li.nav-item
            %a.nav-link{'data-toggle': 'tab', href: '#available', role: 'tab'} Available traits
          %li.nav-item
            %a.nav-link{'data-toggle': 'tab', href: '#spells', role: 'tab'} Spells
          %li.nav-item
            %a.nav-link{'data-toggle': 'tab', href: '#archetypes', role: 'tab'} Archetypes
          %li.nav-item
            %a.nav-link{'data-toggle': 'tab', href: '#description', role: 'tab'} Description
      .card-block
        / Tab panes
        .tab-content
          #taken.tab-pane.active{role: 'tabpanel'}
            = render 'admins/characters/traits_list', character: adventurer, traits: adventurer.traits
          #available.tab-pane{role: 'tabpanel'}
            = render 'admins/characters/traits_list', character: adventurer, traits: adventurer.playable_traits
          #spells.tab-pane{role: 'tabpanel'}
            - adventurer.spells.each do |spell|
              = render 'admins/characters/spell_list', character: adventurer, spell: spell
          #archetypes.tab-pane{role: 'tabpanel'}
            - adventurer.archetypes.each do |archetype|
              = archetype.name.humanize
              = link_to '', character_archetype_path(adventurer, archetype), method: :delete,
                                                             class: 'fa fa-minus-square-o fa--danger',
                                                             remote: true,
                                                             data: { confirm: t('.confirm',
                                                                     default: t("helpers.links.confirm",
                                                                     default: 'Are you sure?')) } if archetype.playable
              %hr
          #description.tab-pane{role: 'tabpanel'}
            = render 'admins/characters/description_form', character: adventurer

  .col-lg-6.col-md-5
    #disciplines.card
      .card-header
        Disciplines
        %span.small.text-muted
          (default: 15 points)
        .pull-right.text-muted
          = "points: #{adventurer.value_summary('points')}"
      .card-block
        .table-responsive
          %table.table.table-striped
            %tbody
            - adventurer.discipline_points.each do |p|
              = render 'admins/characters/mastery_point', p: p

    // inventory block
    = render 'admins/characters/inventory', character: adventurer
