- model_class = Adventurer
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_adventurer_path, class: 'btn btn-primary btn-sm'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:race)
      %th= model_class.human_attribute_name(:rank)
      %th= model_class.human_attribute_name(:experience)
      %th= model_class.human_attribute_name(:downtime)
      %th= model_class.human_attribute_name(:status)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - adventurers.each do |adventurer|
      %tr
        %td= link_to adventurer.name, adventurer_path(adventurer)
        %td= adventurer.race_title
        %td= adventurer.rank
        %td= adventurer.value_for('experience', :points)
        %td= adventurer.value_for('downtime', :points)
        %td= adventurer.playable ? 'Playable' : 'Unplayable'
        %td
          = link_to t('.destroy', default: t("helpers.links.destroy")), adventurer_path(adventurer),
            method: :delete,
            remote: true,
            data: { confirm: t('.confirm',
                    default: t("helpers.links.confirm",
                    default: 'Are you sure?')) },
            class: 'btn btn-sm btn-danger'
