.page-header
  %h3
    = adventurer.info

    = link_to 'Back', root_path, class: 'btn btn-secondary btn-sm'
    = link_to 'Add spell', new_character_spell_path(adventurer), class: 'btn btn-secondary btn-sm'
    %span.pull-right
      = form_for adventurer do |f|
        = link_to 'For print', adventurer_path(print: true), class: 'btn btn-secondary btn-sm'
        = submit_tag 'Set unplayable', data: { disable_with: 'Please wait..',
                                         confirm: t('.confirm',
                                         default: "Do you want to mark a #{adventurer.name} as unplayable?") }, class: 'btn btn-sm btn-danger'

.row
  .col-lg-6.col-md-7
    .row
      // abilities block
      .col-sm-7
        .card
          .card-header
            Abilities
          .card-block
            .table-responsive
              %table.table.table-striped
                %tbody
                  - adventurer.ability_points.each do |p|
                    = render 'ability_point', p: p
      // state block
      .col-sm-5
        = render 'admins/characters/stats_current', character: adventurer

    // traits block
    .card
      .card-header
        / Nav tabs
        %ul.nav.nav-tabs{role: 'tablist'}
          %li.nav-item
            %a.nav-link.active{'data-toggle': 'tab', href: '#taken', role: 'tab'} Taken traits
          %li.nav-item
            %a.nav-link{'data-toggle': 'tab', href: '#available', role: 'tab'} Available traits
          %li.nav-item
            %a.nav-link{'data-toggle': 'tab', href: '#spells', role: 'tab'} Spells
          %li.nav-item
            %a.nav-link{'data-toggle': 'tab', href: '#description', role: 'tab'} Description
      .card-block
        / Tab panes
        .tab-content
          #taken.tab-pane.active{role: 'tabpanel'}
            = render 'admins/characters/traits_list', character: adventurer, traits: adventurer.traits
          #available.tab-pane{role: 'tabpanel'}
            = render 'admins/characters/traits_list', character: adventurer, traits: adventurer.playable_traits
          #spells.tab-pane{role: 'tabpanel'}
            - adventurer.spells.each do |spell|
              = render 'admins/characters/spell_list', character: adventurer, spell: spell
          #description.tab-pane{role: 'tabpanel'}
            .card-block.small
              = adventurer.description.html_safe

  // disciplines block
  .col-lg-6.col-md-5
    .card
      .card-header
        Disciplines
      .card-block
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th
                  Title
                %th
                  points
                %th
                  exp
                %th
                  mod
            %tbody
              - adventurer.discipline_points.each do |p|
                = render 'discipline_point', p: p

    // inventory block
    = render 'admins/characters/inventory', character: adventurer
