.row
  .col-md-4.offset-md-4
    .card
      .card-header
        %h4= t('.sign_in', default: "Sign in")
      .card-block
        = form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "form form-horizontal" } do |f|
          .form-group
            = f.email_field :email, required: true, autofocus: true, class: 'form-control', placeholder: 'Email'
          .form-group
            = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
          .form-group
            = f.submit 'Sign in with email', class: 'btn btn-primary'
            %hr
            = link_to 'Forgot your password?', new_password_path(resource_name)
