= form_for [:admins, rule], html: { class: "form form-horizontal rule" } do |f|

  .form-group.row
    = f.label :title, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :title, class: 'form-control', required: true
      = f.error_span :title

  .form-group.row
    = f.label :group, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :group, class: 'form-control'
      = f.error_span :group

  .form-group.row
    = f.label :description, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.cktext_area :description, class: 'form-control'
      = f.error_span :description

  .form-group.row
    = f.label :proposed_by, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.select :proposer_id, options_for_select(users.map{ |r| ["#{r.name} (#{r.email})", r.id] }, rule.proposer_id), { prompt: '- select -' }, { class: 'form-control', required: true }
      = f.error_span :proposer_id

  .form-group.row
    = f.label :accepted, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.check_box :accepted, class: 'form-control'
      = f.error_span :accepted

  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admins_rules_path, class: 'btn btn-secondary'
