- model_class = Rule
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_admins_rule_path, class: 'btn btn-primary btn-sm'

.col-md-12
  - if proposed_rules.any?
    .card
      %h4.card-header.collapsed{ 'aria-controls': 'collapse_proposed',
                                 'aria-expanded': 'false',
                                 'data-parent':   '.card',
                                 'data-toggle':   'collapse',
                                 href:            '#collapse_proposed',
                                 role:            'button' }
        Proposed rules
      .card-block.collapse{ id: 'collapse_proposed' }
        - proposed_rules.each do |rule|
          %blockquote
            %h5.card-title
              = rule.title
              = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_rule_path(rule), class: 'btn btn-secondary btn-sm'
              = link_to t('.destroy', default: t("helpers.links.destroy")),
                admins_rule_path(rule),
                method: :delete,
                remote: true,
                data: { confirm: t('.confirm',
                        default: t("helpers.links.confirm",
                        default: 'Are you sure?')) },
                class: 'btn btn-sm btn-danger'
            .card-text
              %strong Group:
              = rule.group
              %p= rule.description.html_safe
            .blockquote-footer
              proposed by
              %cite= rule.user_name
              on
              %cite= rule.created_at.strftime('%d %B %Y')
              %hr

  - rules.each do |group, rule|
    .card
      %h4.card-header.collapsed{ 'aria-controls': "collapse_#{group.tr(' ','_').underscore}",
                                 'aria-expanded': 'false',
                                 'data-parent':   '.card',
                                 'data-toggle':   'collapse',
                                 href:            "#collapse_#{group.tr(' ','_').underscore}",
                                 role:            'button' }
        = group
      .card-block.collapse{ id: "collapse_#{group.tr(' ','_').underscore}" }
        - rule.each do |rule|
          %blockquote
            %h5.card-title
              = rule.title
              = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_rule_path(rule), class: 'btn btn-secondary btn-sm'
              = link_to t('.destroy', default: t("helpers.links.destroy")),
                admins_rule_path(rule),
                method: :delete,
                remote: true,
                data: { confirm: t('.confirm',
                        default: t("helpers.links.confirm",
                        default: 'Are you sure?')) },
                class: 'btn btn-sm btn-danger'
            .card-text
              %p= rule.description.html_safe
            .blockquote-footer
              last updated on
              %cite= rule.updated_at.strftime('%d %B %Y')
              %hr
