- model_class = Trait
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to 'Propose', new_trait_path, class: 'btn btn-secondary btn-sm'

.col-md-12
  - if current_user && proposed_traits.any?
    .card
      %h4.card-header.collapsed{ 'aria-controls': 'collapse_proposed',
                                 'aria-expanded': 'false',
                                 'data-parent':   '.card',
                                 'data-toggle':   'collapse',
                                 href:            '#collapse_proposed',
                                 role:            'button' }
        Proposed traits
      .card-block.collapse{ id: 'collapse_proposed' }
        - proposed_traits.each do |trait|
          %blockquote
            %h5.card-title
              = "#{trait.title} (#{trait.mastery.title} #{trait.points}+)"
            .card-text
              -if trait.condition.presence
                %p
                  %b Condition:
                  = trait.condition
              %p
                = trait.description.html_safe
            .blockquote-footer
              last updated on
              %cite= trait.created_at.strftime('%d %B %Y')
              %hr

  - traits.each do |mastery, trait|
    .card
      %h4.card-header.collapsed{ 'aria-controls': "collapse_#{mastery.code}",
                                 'aria-expanded': 'false',
                                 'data-parent':   '.card',
                                 'data-toggle':   'collapse',
                                 href:            "#collapse_#{mastery.code}",
                                 role:            'button' }
        = mastery.title
      .card-block.collapse{ id: "collapse_#{mastery.code}" }
        - trait.each do |trait|
          %blockquote
            %h5.card-title{id: anchor_link(trait.title)}
              = "#{trait.title} (#{trait.mastery.title} #{trait.points}+)"
            .card-text
              - if trait.condition.presence
                %p
                  %b Condition:
                  = trait.condition
              %p
                = trait.description.html_safe
            .blockquote-footer
              last updated on
              %cite= trait.updated_at.strftime('%d %B %Y')
              %hr
