- model_class = Trait
.page-header
  %h1=t '.title', default: [:'helpers.titles.new', 'New %{model}'], model: model_class.model_name.human.titleize

= form_for new_trait, html: { class: "form form-horizontal trait" } do |f|

  .form-group.row
    = f.label :title, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, class: 'form-control', required: true
      = f.error_span :title

  .form-group.row
    = f.label :mastery, class: 'control-label col-lg-2'
    .col-lg-10
      .col-xs-4.col-sm-2{style: 'padding-left: 0'}
        = f.number_field :points, class: 'form-control', placeholder: 'points', required: true
        = f.error_span :points

      .col-xs-8.col-sm-10{style: 'padding-right: 0'}
        = f.select :mastery_id, options_for_select(masteries.map{ |r| [r.title, r.id] }, new_trait.mastery_id), { prompt: '- select -' }, { class: 'form-control', required: true }
        = f.error_span :mastery

  .form-group.row
    = f.label :condition, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :condition, class: 'form-control'
      = f.error_span :condition

  .form-group.row
    = f.label :description, class: 'control-label col-lg-2'
    .col-lg-10
      = f.cktext_area :description, class: 'form-control', required: true
      = f.error_span :description

  .form-group.row
    .offset-lg-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), traits_path, class: 'btn btn-secondary'
