- model_class = Race
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
.col-md-12
  - races.each do |race|
    .card{id: anchor_link(race.title)}
      %h4.card-header
        = race.title
      .card-block
        = race.archetype.description.html_safe
        - race.archetype.traits.each do |trait|
          %b= trait.title
          %br
          = trait.description.html_safe
