.card
  - if current_user.admin
    = form_for [:admins, character], remote: true do |f|
      = f.cktext_area :description
      = submit_tag 'Save description', data: { disable_with: 'Please wait..' }, class: 'btn btn-sm btn-secondary pull-right'
  - else
    = form_for character, remote: true do |f|
      = f.cktext_area :description
      = submit_tag 'Save description', data: { disable_with: 'Please wait..' }, class: 'btn btn-sm btn-secondary pull-right'
