.card#inventory
  .card-header
    Inventory
    = link_to 'Add item', new_character_item_path(character), class: 'btn btn-secondary btn-sm pull-right'
  .card-block
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Title
            %th Effect
            %th Properties
            %th Kind
            %th Weight
            %th Price
            %th Qty
            %th
        %tbody
          - character.character_items.ordered.each do |item|
            = render 'admins/characters/item_row', item: item, character: character
      .weight
        = "Weight: #{character.character_items.map(&:weight_summary).sum.to_f} / #{character.max_weight}"
