%tr.item_row.small{data: { item_id: item.id }}
  %td= link_to item.title, item_path(item)
  %td= item.effect
  %td= item.properties
  %td= item.kind
  %td= "#{item.weight} kg"
  %td= "#{item.price} gc"
  %td= item.quantity
  %td
    = link_to '', edit_character_item_path(character, item), class: 'fa fa-pencil-square-o', remote: true
    = link_to '', character_item_path(character, item), method: :delete,
                                                           remote: true,
                                                           class: 'fa fa-trash-o fa--danger',
                                                           data: { confirm: t('.confirm',
                                                                   default: t("helpers.links.confirm",
                                                                   default: 'Are you sure?')) } unless item.default && !current_user.admin
