- if p.present?
  %tr{ data: { "character-mastery-point": "#{ p.id }" } }
    %td= p.title
    %td
      = form_for p, remote: true, html: { class: "form form-horizontal character-point" } do |f|
        = f.number_field :points, class: 'form-control'
    %td= p.modifier if p.mastery.type != 'Support'
