%blockquote
  %strong.card-title
    = spell.title
    = link_to '', character_spell_path(character, spell), method: :delete,
                                                          class: 'fa fa-minus-square-o fa--danger',
                                                          remote: true,
                                                          data: { confirm: t('.confirm',
                                                                  default: t("helpers.links.confirm",
                                                                  default: 'Are you sure?')) }
    %span.pull-right.small.text-muted
      = spell.group
  .card-text.small
    %p
      = spell.description.html_safe
  %footer.blockquote-footer
    updated on
    %cite= spell.updated_at.strftime('%d %B %Y')
    %hr
