#stats-current.card
  .card-block
    .table-responsive
      %table.table.table-striped
        %tbody
          %tr
            %td Health points
            %td{data: { support_id: character.mastery('health_points').id }}
              = character.max_hit_points
              = render 'admins/characters/edit_link', char_point: character.mastery('health_points')
          %tr
            %td Soul points
            %td{data: { support_id: character.mastery('soul_points').id }}
              = character.max_soul_points
              = render 'admins/characters/edit_link', char_point: character.mastery('soul_points')
          %tr
            %td Initiative
            %td{data: { support_id: character.mastery('initiative').id }}
              = character.initiative_bonus
              = render 'admins/characters/edit_link', char_point: character.mastery('initiative')
          %tr
            %td Basic speed
            %td{data: { support_id: character.mastery('speed').id }}
              = character.value_for('speed', :points)
              = render 'admins/characters/edit_link', char_point: character.mastery('speed')
          %tr
            %td Armor class
            %td{data: { support_id: character.mastery('armor_class').id }}
              = character.value_for('armor_class', :points)
              = render 'admins/characters/edit_link', char_point: character.mastery('armor_class')
          %tr
            %td Downtime
            %td{data: { support_id: character.mastery('downtime').id }}
              = character.value_for('downtime', :points)
              = render 'admins/characters/edit_link', char_point: character.mastery('downtime') if current_user.admin?
          %tr{style: ('color: red; font-weight: bolder;' if character.has_experience?)}
            %td Experience
            %td{data: { support_id: character.mastery('experience').id }}
              = character.value_for 'experience', :points
              = render 'admins/characters/edit_link', char_point: character.mastery('experience') if current_user.admin?
