#stats-onedit.card
  .card-block
    .table-responsive
      %table.table.table-striped
        %tbody
          %tr
            %td Hit points
            %td= character.max_hit_points
          %tr
            %td Soul points
            %td= character.max_soul_points