.traits_list
  - traits.each do |trait|
    %blockquote
      %strong.card-title
        = trait.title
        - if character.traits.include?(trait)
          = link_to '', character_trait_path(character, trait), method: :delete,
                                                                class: 'fa fa-minus-square-o fa--danger',
                                                                remote: true,
                                                                data: { confirm: t('.confirm',
                                                                        default: t("helpers.links.confirm",
                                                                        default: 'Are you sure?')) } if current_user.admin || trait.playable
        - else
          = link_to '', character_traits_path(character, trait: trait), class: 'fa fa-plus-square-o fa--success', remote: true, method: :post
        - if current_user.admin? && !trait.playable
          .small.text-muted
            not playable
        %span.pull-right.small.text-muted
          = trait.mastery_title
          - if trait.points > 0
            = "#{trait.points}+"
      .card-text.small
        - if trait.condition.presence
          %p
            %b Condition:
            = trait.condition
        %p
          = trait.description.html_safe
      %footer.blockquote-footer
        updated on
        %cite= trait.updated_at.strftime('%d %B %Y')
        %hr
