%h4 New item
= form_for new_item, html: { class: "form form-horizontal item" } do |f|
  .form-group.row
    = f.label :title, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :title, class: 'form-control', required: true
      = f.error_span :title
  .form-group.row
    = f.label :effect, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :effect, class: 'form-control'
      = f.error_span :effect
  .form-group.row
    = f.label :properties, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :properties, class: 'form-control'
      = f.error_span :properties
  .form-group.row
    = f.label :kind, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :kind, class: 'form-control'
      = f.error_span :kind
  .form-group.row
    = f.label :weight, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.number_field :weight, class: 'form-control', step: 0.01, min: 0, placeholder: 'kg'
      = f.error_span :weight
  .form-group.row
    = f.label :price, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.number_field :price, class: 'form-control', step: 0.01, min: 0, placeholder: 'gold coins'
      = f.error_span :price
  .form-group.row
    = f.label :quantity, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.number_field :quantity, class: 'form-control', step: 1, min: 1
      = f.error_span :quantity
  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), polymorphic_path(current_user.admin? ? [:admins, character] : character), class: 'btn btn-secondary'
