- if current_user.admin
  %tr{data: { item_id: item.id }}
    %td{colspan: 8, style: 'padding:0;'}
      = form_for item, remote: true do |f|
        %table.table-sm{style: 'padding:0;'}
          %tr
            %td
              = f.text_field :title, class: 'form-control'
              = f.error_span :title
            %td
              = f.text_field :effect, class: 'form-control'
              = f.error_span :effect
            %td
              = f.text_field :properties, class: 'form-control'
              = f.error_span :properties
            %td
              = f.text_field :kind, class: 'form-control'
              = f.error_span :kind
            %td
              = f.number_field :weight, step: 0.01, min: 0, class: 'form-control'
              = f.error_span :weight
            %td
              = f.number_field :price, step: 0.01, min: 0, class: 'form-control'
              = f.error_span :price
            %td
              = f.number_field :quantity, step: 1, min: 0, class: 'form-control'
              = f.error_span :quantity
            %td
              = f.submit 'save', class: 'btn btn-sm btn-primary'
- else
  %tr.small{data: { item_id: item.id }}
    %td= item.title
    %td= item.effect
    %td= item.properties
    %td= item.kind
    %td= "#{item.weight} kg"
    %td= "#{item.price} gc"
    %td{colspan: 2}
      = form_for item, remote: true do |f|
        = f.number_field :quantity, step: 1, min: 0, style: 'max-width: 50%;'
        = f.error_span :quantity
        = f.submit 'save', class: 'btn btn-sm btn-primary'
