= form_for :parent_item do |f|
  %h4 Parent item
  .form-group.row
    = f.label :kind, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.select :kind, options_for_select(base_items.map(&:kind).uniq), { prompt: '- select -' }, class: 'form-control'
  .form-group.row
    = f.label :item, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.select :item, options_for_select(base_items.map{ |item| [item.title, item.id]}, new_item.title), { prompt: '- select -' }, { class: 'form-control', required: true }
