$('tr[data-item-id="<%= item.id %>"').replaceWith("<%= j render('admins/characters/item_row', item: item, character: item.character) %>");
$('.weight').html('<%= "Weight: #{item.character.character_items.map(&:weight_summary).sum.to_f} / #{item.character.max_weight}" %>');
