- model_class = Discipline
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_admins_discipline_path, class: 'btn btn-primary btn-sm'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:active)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - disciplines.each do |discipline|
      %tr
        %td= link_to discipline.title, admins_discipline_path(discipline)
        %td= discipline.active
        %td
          = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_discipline_path(discipline), class: 'btn btn-sm btn-secondary'
          = link_to t('.destroy', default: t("helpers.links.destroy")), admins_discipline_path(discipline),
              method: :delete,
              remote: true,
              data: { confirm: t('.confirm',
                      default: t("helpers.links.confirm",
                      default: 'Are you sure?')) },
              class: 'btn btn-sm btn-danger'
