= form_for [:admins, item], url: {action: action}, method: method, html: { class: "form form-horizontal item" } do |f|

  .form-group.row
    = f.label :title, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :title, class: 'form-control', required: true
      = f.error_span :title

  .form-group.row
    = f.label :effect, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :effect, class: 'form-control'
      = f.error_span :effect

  .form-group.row
    = f.label :properties, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field  :properties, class: 'form-control'
      = f.error_span :properties

  .form-group.row
    = f.label :kind, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field  :kind, class: 'form-control', required: true
      = f.error_span :kind

  .form-group.row
    = f.label :weight, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.number_field :weight, class: 'form-control', step: 0.01, min: 0, required: true
      = f.error_span :weight

  .form-group.row
    = f.label :price, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.number_field :price, class: 'form-control', step: 0.01, min: 0, required: true
      = f.error_span :price

  .form-group.row
    = f.label :active, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.check_box :active, class: 'form-control'
      = f.error_span :active

  .form-group.row
    = f.label :default, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.check_box :default, class: 'form-control'
      = f.error_span :default

  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admins_items_path, class: 'btn btn-secondary'
