- model_class = BaseItem
.page-header
  %h1=t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: model_class.model_name.human.titleize

= render 'form', item: item, action: 'update', method: :patch
