- model_class = BaseItem
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_admins_item_path, class: 'btn btn-primary btn-sm'

.col-md-12
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:title)
        %th= model_class.human_attribute_name(:effect)
        %th= model_class.human_attribute_name(:properties)
        %th= model_class.human_attribute_name(:kind)
        %th= model_class.human_attribute_name(:weight)
        %th= model_class.human_attribute_name(:price)
        %th= model_class.human_attribute_name(:active)
        %th= model_class.human_attribute_name(:default)
        %th=t '.actions', default: t("helpers.actions")
    %tbody
      - items.each do |item|
        %tr
          %td= item.title
          %td= item.effect
          %td= item.properties
          %td= item.kind
          %td= item.weight
          %td= item.price
          %td= item.active
          %td= item.default
          %td
            = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_item_path(item), class: 'btn btn-secondary btn-sm'
