- model_class = BaseItem
.page-header
  %h1=t '.title', default: [:'helpers.titles.new', 'New %{model}'], model: model_class.model_name.human.titleize

= render 'form', item: new_item, action: 'create', method: :post
