- model_class = Spell
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to 'Propose', new_spell_path, class: 'btn btn-secondary btn-sm'

.col-md-12
  - if current_user && proposed_spells.any?
    .card
      %h4.card-header.collapsed{ 'aria-controls':   'collapse_proposed',
                                   'aria-expanded': 'false',
                                   'data-parent':   '.card',
                                   'data-toggle':   'collapse',
                                   href:            '#collapse_proposed',
                                   role:            'button' }
        Proposed spells
      .card-block.collapse{ id: 'collapse_proposed' }
        - proposed_spells.each do |spell|
          %blockquote
            %h5.card-title
              = spell.title
            .card-text
              %strong Group:
              = spell.group
              %p= spell.description.html_safe
            .blockquote-footer
              last updated on
              %cite= spell.created_at.strftime('%d %B %Y')
              %hr
  - spells.each do |group, spell|
    .card
      %h4.card-header.collapsed{ 'aria-controls': "collapse_#{group}",
                                 'aria-expanded': 'false',
                                 'data-parent':   '.card',
                                 'data-toggle':   'collapse',
                                 href:            "#collapse_#{group}",
                                 role:            'button' }
        = group
      .card-block.collapse{ id: "collapse_#{group}" }
        - spell.each do |spell|
          %blockquote
            %h5.card-title{id: anchor_link(spell.title)}
              = spell.title
            .card-text
              %p= spell.description.html_safe
            .blockquote-footer
              last updated on
              %cite= spell.updated_at.strftime('%d %B %Y')
              %hr
