- model_class = Spell
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_admins_spell_path, class: 'btn btn-primary btn-sm'

.col-md-12
  - if proposed_spells.any?
    .card
      %h4.card-header.collapsed{ 'aria-controls': 'collapse_proposed',
                                 'aria-expanded': 'false',
                                 'data-parent':   '.card',
                                 'data-toggle':   'collapse',
                                 href:            '#collapse_proposed',
                                 role:            'button' }
        Proposed spells
      .card-block.collapse{ id: 'collapse_proposed' }
        - proposed_spells.each do |spell|
          %blockquote
            %h5.card-title
              = spell.title
              = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_spell_path(spell), class: 'btn btn-secondary btn-sm'
              = link_to t('.destroy', default: t("helpers.links.destroy")),
                admins_spell_path(spell),
                method: :delete,
                remote: true,
                data: { confirm: t('.confirm',
                        default: t("helpers.links.confirm",
                        default: 'Are you sure?')) },
                class: 'btn btn-sm btn-danger'
            .card-text
              %strong Group:
              = spell.group
              %p= spell.description.html_safe
            .blockquote-footer
              proposed by
              %cite= spell.user_name
              on
              %cite= spell.created_at.strftime('%d %B %Y')
              %hr
  - spells.each do |group, spell|
    .card
      %h4.card-header.collapsed{ 'aria-controls': "collapse_#{group}",
                                   'aria-expanded': 'false',
                                   'data-parent':   '.card',
                                   'data-toggle':   'collapse',
                                   href:            "#collapse_#{group}",
                                   role:            'button' }
        = group
      .card-block.collapse{ id: "collapse_#{group}" }
        - spell.each do |spell|
          %blockquote
            %h5.card-title
              = spell.title
              = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_spell_path(spell), class: 'btn btn-secondary btn-sm'
              = link_to t('.destroy', default: t("helpers.links.destroy")),
                  admins_spell_path(spell),
                  method: :delete,
                  remote: true,
                  data: { confirm: t('.confirm',
                          default: t("helpers.links.confirm",
                          default: 'Are you sure?')) },
                  class: 'btn btn-sm btn-danger'
            .card-text
              %p= spell.description.html_safe
            .blockquote-footer
              last updated on
              %cite= spell.updated_at.strftime('%d %B %Y')
              %hr