%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle{ aria: { expanded: false, haspopup: true }, data: { toggle: 'dropdown' }, href: '#', role: 'button' }
    DM
  .dropdown-menu
    = link_to 'Parties', admins_parties_path, class: 'dropdown-item'
    = link_to 'Encounters', admins_encounters_path, class: 'dropdown-item'

%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle{ aria: { expanded: false, haspopup: true }, data: { toggle: 'dropdown' }, href: '#', role: 'button' }
    Handbook
  .dropdown-menu
    = link_to 'Rules', admins_rules_path, class: 'dropdown-item'
    = link_to 'Traits', admins_traits_path, class: 'dropdown-item'
    = link_to 'Spells', admins_spells_path, class: 'dropdown-item'
    = link_to 'Monsters', monsters_path, class: 'dropdown-item'
    = link_to 'Races', admins_races_path, class: 'dropdown-item'
    = link_to 'Base items', admins_items_path, class: 'dropdown-item'

%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle{ aria: { expanded: false, haspopup: true }, data: { toggle: 'dropdown' }, href: '#', role: 'button' }
    Characters
  .dropdown-menu
    = link_to 'Archetypes', admins_archetypes_path, class: 'dropdown-item'
    = link_to 'Adventurers', admins_adventurers_path, class: 'dropdown-item'

%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle{ aria: { expanded: false, haspopup: true }, data: { toggle: 'dropdown' }, href: '#', role: 'button' }
    Masteries
  .dropdown-menu
    = link_to 'Abilities', admins_abilities_path, class: 'dropdown-item'
    = link_to 'Disciplines', admins_disciplines_path, class: 'dropdown-item'
    = link_to 'Supports', admins_supports_path, class: 'dropdown-item'

%li.nav-item
  = link_to 'Users', admins_users_path, class: 'nav-link'
%li.nav-item
  = link_to 'Log Out', destroy_identity_session_path, class: 'nav-link', method: :delete
