%li.nav-item
  = link_to 'Dashboard', root_path, class: 'nav-link'
%li.nav-item
  = link_to 'News', news_path, class: 'nav-link'
%li.nav-item
  = link_to 'Rules', rules_path, class: 'nav-link'
%li.nav-item
  = link_to 'Traits', traits_path, class: 'nav-link'
%li.nav-item
  = link_to 'Spells', spells_path, class: 'nav-link'
%li.nav-item
  = link_to 'Races', races_path, class: 'nav-link'
%li.nav-item
  = link_to 'Monsters', monsters_path, class: 'nav-link'
%li.nav-item
  = link_to 'Base items', items_path, class: 'nav-link'
- if current_user
  %li.nav-item
    = link_to 'New issue', 'https://kitemar.myjetbrains.com/youtrack/newIssue', class: 'nav-link', target: '_blank'
  %li.nav-item
    = link_to 'Log Out', destroy_identity_session_path, class: 'nav-link', method: :delete
- else
  %li.nav-item
    = link_to 'Sign in', new_identity_session_path, class: 'nav-link'
  %li.nav-item
    = link_to 'Sign up', new_identity_registration_path, class: 'nav-link'
