= form_tag search_path, class: "form-inline float-lg-right", method: :get do
  = text_field_tag :query, params[:query], class: "form-control", id: "search", autocomplete: 'on', placeholder: 'Search', type: 'text'
  .input-group-btn
