!!! 5
%html(lang="en")
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}
    %meta{content: 'ie=edge', 'http-equiv': 'x-ua-compatible'}

    %title KRPG
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      %nav.navbar.navbar-full.navbar-light.bg-faded
        %button.navbar-toggler.hidden-sm-up{'data-target': '#navbar-collapse',
                                            'data-toggle': 'collapse',
                                            type: 'button'}
          = link_to "\u2630 KRPG", root_path, class: 'navbar-brand'
        #navbar-collapse.collapse.navbar-toggleable-xs
          = link_to 'Kitemar-RPG', root_path, class: 'navbar-brand hidden-xs-down'
          %ul.nav.navbar-nav.pull-sm-right
            = current_user.try(:admin) ? render('layouts/admin_links') : render('layouts/player_links')
          = render 'layouts/search'
    .container-fluid
      = render 'layouts/flash'
      = yield
