= form_for [:admins, archetype], html: { class: "form form-horizontal archetype" } do |f|
  .form-group.row
    = f.label :name, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.text_field :name, class: 'form-control', required: true
      = f.error_span :name
  .form-group.row
    = f.label :race, class: 'col-md-2 col-form-label'
    .col-md-10
      = f.select :race_id, options_for_select(races.map{ |r| [r.title, r.id] }, archetype.race_id), { prompt: '- select -' }, { class: 'form-control', id: 'character_race_id' }
  .form-group.row
    = f.label :playable, class: 'control-label col-lg-2'
    .col-lg-10
      = f.check_box :playable, class: 'form-control'
      = f.error_span :playable
  .form-group.row
    .offset-md-2.col-md-10
      #race-description
  .form-group.row
    .offset-md-2.col-md-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', default: t("helpers.links.cancel")), admins_archetypes_path, class: 'btn btn-secondary'
