- model_class = Archetype
.page-header
  %h3
    = t '.title', default: model_class.model_name.human.pluralize.titleize
    = link_to t('.new', default: t("helpers.links.new")), new_admins_archetype_path, class: 'btn btn-primary btn-sm'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:race)
      %th= model_class.human_attribute_name(:rank)
      %th= model_class.human_attribute_name(:playable)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - archetypes.each do |archetype|
      %tr
        %td= link_to archetype.name, admins_archetype_path(archetype)
        %td= archetype.race_title
        %td= archetype.rank
        %td= archetype.playable
        %td
          = link_to t('.edit', default: t("helpers.links.edit")), edit_admins_archetype_path(archetype), class: 'btn btn-sm btn-secondary'
          = link_to t('.destroy', default: t("helpers.links.destroy")), admins_archetype_path(archetype),
              method: :delete,
              remote: true,
              data: { confirm: t('.confirm',
                      default: t("helpers.links.confirm",
                      default: 'Are you sure?')) },
              class: 'btn btn-sm btn-danger'
