.page-header
  %h3
    - if archetype.race.presence
      = "Archetype for #{archetype.race_title}"
    -else
      = archetype.name
    = link_to 'Back', admins_archetypes_path, class: 'btn btn-secondary btn-sm'
    = link_to 'Add spell', new_character_spell_path(archetype), class: 'btn btn-secondary btn-sm'

.row
  .col-lg-6.col-md-7
    .card
      .card-header
        Abilities
        %span.small.text-muted
          (default: 15, 14, 13, 12, 10, 8)
      .card-block
        .table-responsive
          %table.table.table-striped
            %tbody
            - archetype.ability_points.each do |p|
              = render 'admins/characters/mastery_point', p: p

    #traits.card
      .card-header
        / Nav tabs
        %ul.nav.nav-tabs{role: 'tablist'}
          %li.nav-item
            %a.nav-link.active{'data-toggle': 'tab', href: '#taken', role: 'tab'} Taken traits
          %li.nav-item
            %a.nav-link{'data-toggle': 'tab', href: '#available', role: 'tab'} Available traits
          %li.nav-item
            %a.nav-link{'data-toggle': 'tab', href: '#not_playable', role: 'tab'} Not playable traits
          %li.nav-item
            %a.nav-link{'data-toggle': 'tab', href: '#spells', role: 'tab'} Spells
          %li.nav-item
            %a.nav-link{'data-toggle': 'tab', href: '#description', role: 'tab'} Description
      .card-block
        / Tab panes
        .tab-content
          #taken.tab-pane.active{role: 'tabpanel'}
            - archetype.traits.each do |trait|
              = render 'admins/characters/traits_list', character: archetype, traits: archetype.traits
          #available.tab-pane{role: 'tabpanel'}
            - archetype.playable_traits.each do |trait|
              = render 'admins/characters/traits_list', character: archetype, traits: archetype.playable_traits
          #not_playable.tab-pane{role: 'tabpanel'}
            - archetype.not_playable_traits.each do |trait|
              = render 'admins/characters/traits_list', character: archetype, traits: archetype.not_playable_traits
          #spells.tab-pane{role: 'tabpanel'}
            - archetype.spells.each do |spell|
              = render 'admins/characters/spell_list', character: archetype, spell: spell
          #description.tab-pane{role: 'tabpanel'}
            = render 'admins/characters/description_form', character: archetype

  .col-lg-6.col-md-5
    .card
      .card-header
        Disciplines
        %span.small.text-muted
          (default: 15 points)
        .pull-right.text-muted
          = "points: #{archetype.value_summary('points')}"
      .card-block
        .table-responsive
          %table.table.table-striped
            %tbody
            - archetype.discipline_points.each do |p|
              = render 'admins/characters/mastery_point', p: p
    // inventory block
    = render 'admins/characters/inventory', character: archetype
