%br

.row
  .col-xl-4
    .card
      .card-header.collapsed{ 'data-parent':   '.card',
                              'data-toggle':   'collapse',
                              href:            '#collapse_new_release',
                              role:            'button',
                              style:           'text-align: center;' }
        New release
      .card-block.collapse{ id: 'collapse_new_release' }
        = form_for [:admins, new_release_note], html: { class: "form form-horizontal release-note" } do |f|
          .form-group.row
            = f.text_field :title, required: true, class: 'form-control'
            = f.error_span :title
          .form-group.row
            = f.cktext_area :content, class: 'form-control'
            = f.error_span :content
          .form-group.row
            .pull-right
              = link_to 'Show all', admins_release_notes_path, class: 'btn btn-sm btn-secondary'
              = f.submit nil, class: 'btn btn-sm btn-primary'

    .card.hidden-lg-down
      - release_notes.each do |release_note|
        .card-header.collapsed{ 'data-parent':     '.card',
                                  'data-toggle':   'collapse',
                                  href:            "#collapse_release_#{release_note.id}",
                                  role:            'button' }
          %strong= release_note.title
        .card-block.collapse{ id: "collapse_release_#{release_note.id}" }
          %blockquote
            .card-text
              %p= release_note.content.html_safe
            %footer.blockquote-footer
              %cite
                = release_note.created_at.strftime('%d %B %Y at %H:%M')
              %span.pull-right
                = link_to '', edit_admins_release_note_path(release_note), class: 'fa fa--warning fa-pencil-square-o'
                = link_to '', admins_release_note_path(release_note), method: :delete, remote: true, class: 'fa fa--danger fa-trash', data: { confirm: t('.confirm',
                                                                                                                                              default: t("helpers.links.confirm",
                                                                                                                                              default: 'Are you sure?')) }

  .col-xl-8
    .row
      .col-sm-12.col-lg-5
        .row{style: 'text-align: center;'}
          .col-xs-4.col-md-4.col-xl-4
            .card
              .card-header
                Rules
              .card-block
                %h2= link_to proposed_rules, admins_rules_path + '#collapse_proposed'
          .col-xs-4.col-md-4.col-xl-4
            .card
              .card-header
                Traits
              .card-block
                %h2= link_to proposed_traits, admins_traits_path + '#collapse_proposed'
          .col-xs-4.col-md-4.col-xl-4
            .card
              .card-header
                Spells
              .card-block
                %h2= link_to proposed_spells, admins_spells_path + '#collapse_proposed'
        .row
          .col-xs-12
            .card
              .card-header
                %strong New adventurers
              .card-block
                %table.table.table-striped
                  %thead
                    %tr
                      %th Name
                      %th User
                  %tbody
                    - adventurers.each do |adventurer|
                      %tr
                        %td= link_to adventurer.name, admins_adventurer_path(adventurer)
                        %td= adventurer.user_name

      .col-sm-12.col-lg-7
        .card
          .card-header
            %strong Last encounters
            = link_to t('.new', default: t("helpers.links.new")), new_admins_encounter_path, class: 'btn btn-secondary btn-sm'
          .card-block
            %table.table.table-striped
              %thead
                %tr
                  %th Title
                  %th Rank
                  %th=t '.actions', default: t("helpers.actions")
              %tbody
                - encounters.limit(3).each do |encounter|
                  %tr
                    %td= link_to encounter.title, admins_encounter_path(encounter)
                    %td= encounter.rank
                    %td
                      = link_to '', edit_admins_encounter_path(encounter), class: 'fa fa--warning fa-pencil-square-o'
                      = link_to '',
                        admins_party_path(encounter),
                        method: :delete,
                        class: 'fa fa--danger fa-trash',
                        remote: true,
                        data: { confirm: t('.confirm',
                                default: t("helpers.links.confirm",
                                default: 'Are you sure?')) }
            - if  encounters.count > 3
              %hr
              %span= link_to 'Show all', admins_encounters_path

        .card
          .card-header
            %strong Last parties
            = link_to t('.new', default: t("helpers.links.new")), new_admins_party_path, class: 'btn btn-secondary btn-sm'
          .card-block
            %table.table.table-striped
              %thead
                %tr
                  %th Title
                  %th Rank
                  %th=t '.actions', default: t("helpers.actions")
              %tbody
                - parties.limit(3).each do |party|
                  %tr
                    %td= link_to party.title, admins_party_path(party)
                    %td= party.rank.to_i
                    %td
                      = link_to '', edit_admins_party_path(party), class: 'fa fa--warning fa-pencil-square-o'
                      = link_to '',
                        admins_party_path(party),
                        method: :delete,
                        class: 'fa fa--danger fa-trash',
                        remote: true,
                        data: { confirm: t('.confirm',
                                default: t("helpers.links.confirm",
                                default: 'Are you sure?')) }
            - if  parties.count > 3
              %hr
              %span= link_to 'Show all', admins_parties_path
